@font-face {
    font-family: "Judson-Bold";
    src: url(../../assets/fonts/Judson-Bold.ttf);
}

@font-face {
    font-family: "AcuminPro-Bold";
    src: url(../../assets/fonts/AcuminProBold.otf);
}

@font-face {
    font-family: "AcuminPro-ExtraLight";
    src: url(../../assets/fonts/AcuminProExtraLight.otf);
}

@font-face {
    font-family: "AcuminPro-Light";
    src: url(../../assets/fonts/AcuminProLight.otf);
}

@font-face {
    font-family: "AcuminPro-Medium";
    src: url(../../assets/fonts/AcuminProMedium.otf);
}

@font-face {
    font-family: "AcuminPro-Thin";
    src: url(../../assets/fonts/AcuminProThin.otf);
}

@font-face {
    font-family: "AcuminPro-Semibold";
    src: url(../../assets/fonts/AcuminProSemibold.otf);
}

@font-face {
    font-family: "AcuminPro-Black";
    src: url(../../assets/fonts/AcuminProBlack.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif; 
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
  font-size: 62.5%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

body {
    margin: 0; 
    font-family: "AcuminPro-Medium", serif;;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.6;
    color: black;
    text-align: left;
    background-color: #fff; 
}


hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
  }


a {
    color: inherit;
    text-decoration: none;
    background-color: transparent; 
}

button {
    border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; 
  padding: 0;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}


.container {
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
}



/* nav */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
}

.icon-parent {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.nav-brand {
    font-family: "AcuminPro-ExtraLight";
    font-size: 2.5rem;
    text-decoration: none;
    letter-spacing: 4px;
    margin-left: 4rem;
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-link {
    font-family: "AcuminPro-Semibold";
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    padding: 1.5rem 0;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-family: "AcuminPro-Semibold";
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    margin-right: 3.5rem;
    border-top: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar-dropdown {
    position: relative;
    margin-right: 3.5rem;
}

.navbar-dropdown-last {
    margin-right: 5rem;
}

.navbar-dropdown:hover > div.nav-dropdown-menu {
    display: flex;
}


.nav-dropdown-menu {
    display: none;
    border-top: 1px solid #000;
    background: #efefef;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    flex-direction: column;
    transition: all 2s ease-in;
    padding: .8rem 1.5rem;
}


.nav-dropdown-link {
    font-family: "AcuminPro-Medium";
    font-size: 1.6rem;
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: .8rem 0;
    letter-spacing: 1.5px;
}


.nav-btn {
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: transparent;
    font-family: "AcuminPro-Semibold";
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    background: transparent;
    letter-spacing: 1.8px;
}

.nav-btn-gray {
    background: #93a5bf;
    color: #fff;
    margin-left: 2rem;
    padding: .8rem 1.2rem;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.menu-burger {
    display: none;
}

.menu-burger img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}




.show-menu {
    display: none;
    background: linear-gradient(to left top, rgba(104,116,155, 0.5) 0%/*bottom-right color*/, rgba(104,116,155, 0.85) 50% /*middle color*/, rgb(104,116,155) 100% /*top-left color*/), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    z-index: 9999999;
    color: #fff;
    font-size: 2rem;
    font-family: "AcuminPro-Light";
    font-weight: 400;
    text-align: left;
    overflow-y: auto;
}

    
.show-menu::-webkit-scrollbar {
    width: 8px;
}

.show-menu::-webkit-scrollbar-track {
    background: rgb(185, 181, 181); 
}

.show-menu::-webkit-scrollbar-thumb {
    background: rgb(104,116,155);
    border-radius: 5px;
}
.show-menu::-webkit-scrollbar-thumb:hover {
    background: rgb(104,116,155);
}



.mini-link {
    font-family: "AcuminPro-Semibold";
}

.mini-icons {
    margin-right: 15px;
}

.bttm {
    margin: .4rem 0;
}

.mini-hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.mini-dark {
    display: block;
    padding: .5rem 0;
    background: #3a446a;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
}

.mini-icon-item {
    margin: .7rem 0;
}

.mini-light {
    display: block;
    padding: .5rem 0;
    background: #fff;
    color: black;
    text-align: center;
    margin-bottom: 1.5rem;
}

.mini-title {
    margin-bottom: .8rem;
}

.mini-brand {
    letter-spacing: 1.5px;
}

.mini-container {
    width: 100%;
    min-width: 340px;
    max-width: 550px;
    padding: 15px 20px;
    margin: 0 auto;
}
.mini-col {
    display: flex;
    flex-direction: column;
}

.justified img {
    margin-right: 10px;
}

.justified {
    justify-content: space-between;
    margin: 2rem 0;
}

.mini-row {
    display: flex;
    align-items: center
}

.hide-menu {
    display: none !important;
}

@media only screen and (max-width: 520px) {
    .main-nav .nav-brand {
        font-size: 2.2rem;
        margin-left: 12px;
        letter-spacing: .7px
    }


}


@media only screen and (max-width: 1100px) {
    .show-menu  {
        display: block;
    }

    .menu-burger  {
        display: block;
    }

    .nav-right {
        display: none;
    } 

}



.img-map {
    margin: 2rem 0;
}

/* tabbed content*/
.tabs {
    margin-top: 4rem;
}

.tabs .active {
    border-bottom: 3.2px solid #93a3bd;
    color: #3d4770;
}

.tabbed-content .panel {
    display: none;
}

.tabbed-content .active {
    display: flex !important;
}

ul   {
    list-style-type: none;
    display: flex;
    border-bottom: 1.5px solid #93a3bd;
    align-items: center;
}

ul  li {
    margin-right: 4.2rem;
    border-bottom: 3.2px solid transparent;
    padding: 1rem 0;
    letter-spacing: 1.8px;
    font-family: "AcuminPro-Bold";
    font-weight: bold;
    font-size: 1.8rem;
    color: #93a3bd;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
   ul li {
    margin-right: 2.5rem;
    font-size: 1.6rem;
    font-weight: 400;
   }
}


/* about */

.about-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.about-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.about-item {
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin-bottom: 7rem;
}

.about-item-col {
    display: flex;
    flex-direction: column;
}

.about-name {
    font-family: "AcuminPro-Semibold";
    font-weight: 600;
    font-size: 2.5rem;
    color: #000;
    letter-spacing: 0;
}

.about-prof {
    font-family: "AcuminPro-Semibold";
    font-weight: 600;
    font-size: 2.5rem;
    color: #6e799f;
    letter-spacing: 0;
    margin-bottom: .3rem;
    line-height: 1.1;
}

.team-img {
    display: block;
    width: 120px;
    height: 120px;
    margin-right: 2rem;
}


.about-desc {
    font-family: "AcuminPro-Light";
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    opacity: .85;
    letter-spacing: 0;
    margin-bottom: 1.4rem;
}

.about-icon-row {
    display: flex;
    align-items: center;
}

.about-icon-row img {
    display: block;
    width: 27px;
    height: auto;
    cursor: pointer;
}

.about-icon-row img:not(:last-child) {
    margin-right: 1.4rem;
}

.about-heading {
    color: #3a446a;
    font-family: "AcuminPro-ExtraLight";
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .8px;
    margin-bottom: 5rem;
}

.about-paragraph {
    color: #0f192b;
    letter-spacing: .8px;
    font-family: "AcuminPro-Medium";
    font-size: 2.5rem;
    margin-bottom: 4rem;
}


.about-row {
    display: flex;
    flex-direction: row;
}

.about-row .about-name {
    margin-bottom: .5rem;
}

.about-row-parent {
    display: flex;
    flex-direction: column;
    width: 36%;

}

.about-row-item {
    display: flex;
    margin-bottom: 5rem;
}

.about-row-col {
    display: flex;
    flex-direction: column;
}


.about-row-col img {
    display: block;
    width: 28px;
    height: auto;
    margin-top: 2rem;
    cursor: pointer;
}


.about-parent-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.join-us {
    background: #3a446a;
    padding: 8rem 0;
    width: 100%;
    overflow: hidden;
}

.join-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-col {
    display: flex;
    flex-direction: column;
    position: relative;
}

.join-heading {
    font-family: "AcuminPro-ExtraLight";
    font-size: 5rem;
    color: #fff;
    opacity: .4;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 7rem;
}

.join-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: "AcuminPro-Semibold";
    font-weight: 600;
    font-size: 2.7rem;
    color: #fff;
    background: #68749b;
    padding: 1.5rem 3.5rem;
    align-self: flex-start;
    letter-spacing: .6px;    
}

.join-btn > svg {
    margin-left: 12rem;
}

.join-row img {
    display: block;
    height: 50rem;
    width: auto;
    position: absolute;
    right: -100rem;
    top: -12rem;
    bottom: 0;
    left: 0;
    margin-left: auto;
}


@media only screen and (max-width: 650px) {
    .about-heading {
        font-size: 4rem;
    }

    .about-paragraph {
        font-size: 2.2rem;
    }

    .join-btn > svg {
        margin-left: 7.5rem;
    }
}

@media only screen and (max-width: 1040px) {
    .about-item {
        width: 46.5%;
    }
 }

 @media only screen and (max-width: 750px) {
    .about-item {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-flex {
        justify-content: center;
    }

    .about-icon-row {
        display: flex;
        justify-content: center;
    }
 }


 @media only screen and (max-width: 1040px) {
    .about-row-parent {
        width: 46.5%;
    }
 }

 @media only screen and (max-width: 1040px) {
    .about-row {
        flex-direction: column;
        align-items: center;
    }

    .about-row-parent {
        width: 80%;
    }
 }

/* community */

.stats {
    margin: 2rem 0 5rem;
    background: linear-gradient(to left top, rgba(104,116,155, 0.5) 0%/*bottom-right color*/, rgba(104,116,155, 0.85) 50% /*middle color*/, rgb(104,116,155) 100% /*top-left color*/), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
}

.stat-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
    text-align: center;
}

.stat-heading {
    font-family: "AcuminPro-ExtraLight";
    font-size: 5.4rem;
    color: #fff;
    font-weight: 400;
}

.stat-desc {
    font-family: "AcuminPro-ExtraLight";
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
}


@media only screen and (max-width: 840px) {

    .stat-row {
        flex-direction: column;
        padding: 2.5rem 0;
    }

    .stat-col {
        margin: 3.2rem 0;
    }
}



.community-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8rem 0;
}

#community .container {
    width: 100%;
}

.community-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4.5rem;
}

.community-item {
    display: flex;
    width: 30%;
    margin-bottom: 5rem;
}

.community-item img {
    display: block;
    width: 125px;
    height: 125px;
    margin-right: 2rem;
}

.com-item-col {
    display: flex;
    flex-direction: column;
}

.community-tag {
    color: #0f192b;
    font-family: "AcuminPro-Medium";
    font-size: 2.5rem;
    font-weight: 500;
}

.community-desc {
    color: #94a4be;
    letter-spacing: .4px;
    font-family: "AcuminPro-Medium";
    font-size: 2.05rem;
    font-weight: 600;
}


@media only screen and (max-width: 980px) {
    .community-item {
        width: 47.5%;
    }
}

@media only screen and (max-width: 680px) {
    .community-item {
        width: 85%;
        flex-direction: column;
        align-items: center;
        text-align: center
    }
}


.social-row {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 4.5rem;
}

.social-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.social-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #94a4be;
}

.social-cont img {
    width: 90px;
    height: auto;
    display: block;
}

.social-heading {
    color: #3a446a;
    letter-spacing: .5px;
    font-size: 2.4rem;
    font-family: "AcuminPro-Semibold";
    font-weight: bold;
    margin-top: 4rem;
}


@media only screen and (max-width: 780px) {
    .social-item {
        width: 50%;
        margin-bottom: 5rem;
    }

    .social-row {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 440px) {
    .social-item {
        width: 85%;
    }
}



/* privacy*/

.privacy {
    padding: 8rem 0;
    width: 100%;
}

.ml {
    margin-left: 3rem;
}

.x-info p:not(:last-child){
    margin-bottom: 1.2rem;
}

.sec {
    margin: 2.5rem 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-bottom: 0;
    align-items: flex-start;
    text-align: left;
}

.sec li {
    margin-right: 0;
    border-bottom: 0;
    padding: 0;
    letter-spacing: initial;
    cursor: text;
    font-family: "AcuminPro-Medium";
    font-size: 2.3rem;
    font-weight: 500;
    color: #000;
    line-height: 1.5;
}

.use-info p {
    margin: .8rem 0;
}

.high {
    color: #50bf98;
}

.bold {
    font-weight: bold !important;
}

.privacy-heading {
    color: #69759c;
    font-family: "AcuminPro-ExtraLight";
    font-weight: 400;
    font-size: 5.2rem;
    margin-bottom: 6.5rem;
}

.privacy-text {
    font-family: "AcuminPro-Medium";
    font-size: 2.3rem;
    font-weight: 500;
    color: #000;
    line-height: 1.5;
}

/* footer */


/* footer */
/* footer */

footer {
    background: #323c44;
    padding: 9rem 0;
}

.foot-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .nav-brand {
    color: #fff;
}

.foot-right {
    display: flex;
}

.foot-right h4,
.foot-right-col h4 {
    font-family: "AcuminPro-Semibold";
    font-size: 1.7rem;
    width: 18rem;
    color: #fff;
    font-weight: 500;
}

.foot-right-col h4 {
    display: none;
}


footer hr {
    width: 100%;
    color: #fff;
    background: #fff;
    height: 1px;
    border: 0;
    margin-top: 2rem;
}

.icon-row img {
    margin-top: 8rem;
    width: 25px;
    height: auto;
    margin-right: 1.4rem;
}

.footer-text {
    color: #fff;
    font-family: "AcuminPro-ExtraLight";
    font-size: 1.6rem;
    font-weight: normal;
    opacity: .85;
    margin-top: 3rem;
    letter-spacing: .6px;
}

.foot-row {
    display: flex;
    justify-content: space-between;
}

.foot-row-right {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
}

.foot-right-col {
    display: flex;
    flex-direction: column;
    width: 18rem;
}

.foot-items {
    width: 100%;
    font-family: "AcuminPro-Light";
    font-size: 1.8rem;
    padding: .7rem 1.5rem .7rem 0;
    color: #ffffff99;
    font-weight: 400;
}

.with-icon svg {
    width: 22px;
    height: auto;
    margin-right: .5rem;
}

.with-icon {
    padding: .7rem 1.5rem .7rem 0;
}

@media only screen and (max-width: 880px) {
    .foot-right {
        display: none;
    }

    .foot-flex {
        justify-content: center;
    }

    .foot-row {
        flex-direction: column;
        align-items: center;
    }

    .icon-row {
        display: flex;
        justify-content: center;
    }

    .foot-row-right {
        width: 100%;
        justify-content: space-between;
        text-align: center;
        margin-top: 3rem;
    }

    .foot-right-col {
        width: 30%;
    }
}

@media only screen and (max-width: 880px) {
    .foot-row-right {
        flex-direction: column;
        align-items: center;
        padding-bottom: 4.5rem;
    }

    .foot-right-col {
        width: 100%;
        margin-bottom: 3.5rem;
    }

    footer .nav-left {
        flex-direction: column;
    }

    footer .nav-left svg {
        margin-bottom: 2rem;
    }

    footer .nav-left a {
        margin: 0;
    }

    footer .container {
        position: relative;
    }

    .icon-row {
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 350px;
        justify-content: space-between;
    }

    .icon-row > a > img {
        margin-top: 0 !important;
        width: 35px;
        height: auto;
    }

    .foot-flex {
        padding-top: 10rem;
    }

    .footer-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); 
        width: 100%;
        text-align: center;
    }

    .foot-right-col h4 {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    footer .nav-brand {
        font-size: 2.3rem;
    }

    .icon-row {
        width: 80%;
        max-width: 350px;
    }
}