@font-face {
    font-family: "Judson-Bold";
    src: url(../../assets/fonts/Judson-Bold.ttf);
}

@font-face {
    font-family: "AcuminPro-Bold";
    src: url(../../assets/fonts/AcuminProBold.otf);
}

@font-face {
    font-family: "AcuminPro-ExtraLight";
    src: url(../../assets/fonts/AcuminProExtraLight.otf);
}

@font-face {
    font-family: "AcuminPro-Light";
    src: url(../../assets/fonts/AcuminProLight.otf);
}

@font-face {
    font-family: "AcuminPro-Medium";
    src: url(../../assets/fonts/AcuminProMedium.otf);
}

@font-face {
    font-family: "AcuminPro-Thin";
    src: url(../../assets/fonts/AcuminProThin.otf);
}

@font-face {
    font-family: "AcuminPro-Semibold";
    src: url(../../assets/fonts/AcuminProSemibold.otf);
}

@font-face {
    font-family: "AcuminPro-Black";
    src: url(../../assets/fonts/AcuminProBlack.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif; 
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
  font-size: 62.5%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

body {
    margin: 0; 
    font-family: "AcuminPro-Medium", serif;;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.6;
    color: black;
    text-align: left;
    background-color: #fff; 
}


hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
  }


a {
    color: inherit;
    text-decoration: none;
    background-color: transparent; 
}

button {
    border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; 
  padding: 0;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}


.container {
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
}

.icon-parent {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.nav-brand {
    font-family: "AcuminPro-ExtraLight";
    font-size: 2.5rem;
    text-decoration: none;
    letter-spacing: 4px;
    margin-left: 4rem;
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-link {
    font-family: "AcuminPro-Semibold";
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    padding: 1.5rem 0;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-family: "AcuminPro-Semibold";
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    margin-right: 3.5rem;
    border-top: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar-dropdown {
    position: relative;
    margin-right: 3.5rem;
}

.navbar-dropdown-last {
    margin-right: 5rem;
}

.navbar-dropdown:hover > div.nav-dropdown-menu {
    display: flex;
}


.nav-dropdown-menu {
    display: none;
    border-top: 1px solid #000;
    background: #efefef;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    flex-direction: column;
    transition: all 2s ease-in;
    padding: .8rem 1.5rem;
    z-index: 40;
}


.nav-dropdown-link {
    font-family: "AcuminPro-Medium";
    font-size: 1.6rem;
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: .8rem 0;
    letter-spacing: 1.5px;
}


.nav-btn {
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: transparent;
    font-family: "AcuminPro-Semibold";
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    background: transparent;
    letter-spacing: 1.8px;
}

.nav-btn-gray {
    background: #93a5bf;
    color: #fff;
    margin-left: 2rem;
    padding: .8rem 1.2rem;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.menu-burger {
    display: none;
    position: relative;;
}

.menu-burger img {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

#resp-menu {
    position: absolute;
    right: 0;
    top: 50px;
}

.show-menu {
    display: block;;
    border-top: 1px solid #000;
    background: #efefef;
    position: absolute;
    width: 350px;
    flex-direction: column;
    transition: all 2s ease-in;
    padding: .8rem 1.5rem;
    text-align: center;
    z-index: 99;
}

.show-menu a {
    display: block;
    font-size: 2.5rem;
    padding: 1.2rem 1rem;
}

.hide-menu {
    display: none;
}

@media only screen and (max-width: 800px) {
    .show-menu {
        width: 100vw !important;
    }

}



@media only screen and (max-width: 1100px) {
    .menu-burger {
        display: block;
    }

    .nav-right {
        display: none;
    } 

}



/*  gradient */

.gradient {
    height: 48rem;
    width: 100%;
    background: linear-gradient(to left top, rgba(104,116,155, 0.5) 0%/*bottom-right color*/, rgba(104,116,155, 0.85) 50% /*middle color*/, rgb(104,116,155) 100% /*top-left color*/), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
    overflow: hidden;
    position: relative;;
}

.grad-flex {
    justify-content: flex-end;
}

.grad-flex::after {
    display: block;
    content: "";
    clear: both;
}

.grad-flex img {
    position: absolute;
    width: 55%;
    height: auto;
    display: block;
    top: 0;
    right: 0;
}

.grad-col {
    margin-top: 7rem;
} 

.contact-heading {
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 8rem;
    color: #fff;
    letter-spacing: 1px;
}

.contact-text {
    font-family: "AcuminPro-Light";
    font-weight: bold;
    font-size: 2.8rem;
    color: #fff;
    line-height: 1.2;
    margin-top: 2rem;
    font-weight: 400;
    letter-spacing: .5px;
}



@media only screen and (max-width: 1100px) {
    .grad-flex img {
        display: none;
    }

    .gradient {
        height: 38rem;
    }

    .grad-flex {
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {
    .contact-heading {
        font-size: 6.2rem;
    }
    
    .contact-text {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 450px) {
    .contact-heading {
        font-size: 4.5rem;
    }
    
    .contact-text {
        font-size: 2.3rem;
    }

    .gradient {
        height: 28rem;
    }
}


/* inq */

.inq-row {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    width: 72%;
    padding: 8rem 0 2rem;
}

.inq-col {
    display: flex;
    flex-direction: column;
    width: 47%
}

.inq-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
}

.inq-heading {
    font-family: "AcuminPro-ExtraLight";
    font-weight: 400;
    font-size: 4.5rem;
    color: #68749b;
    letter-spacing: .4px;
}

.inq-text {
    font-family: "AcuminPro-Medium";
    font-weight: 500;
    font-size: 2.5rem;
    color: #000;
    margin-top: 3rem;
}

.inq-mail {
    font-family: "AcuminPro-Semibold";
    font-weight: 600;
    color: #68749b;
    font-size: 2.8rem;
    margin-top: 1.5rem;
}


@media only screen and (max-width: 980px) {
    .inq-row {
        width: 100%;
        margin-left: unset;
    }
}

@media only screen and (max-width: 780px) {
    .inq-row {
        flex-direction: column;
        align-items: center;
    }

    .inq-col {
        width: 80%;
    }

    .inq-mail {
        word-break: break-all;
    }
}


/*  join */

.join {
    background: #3a446a;
    width: 100%;
    padding: 10rem 0 15rem;
}


.join-row {
    display: flex;
    justify-content: space-between;
}

.join-heading {
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 5.2rem;
    color: #fff;
    line-height: 1;
}

.join-text {
    font-family: "AcuminPro-Medium";
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    opacity: .9;
}

.join-col {
    width: 75%;
    display: flex;
    flex-direction: column;
}


.partner-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: "AcuminPro-Medium";
    font-weight: 400;
    font-size: 2.8rem;
    color: #fff;
    background: #68749b;
    padding: 1.2rem 2.4rem;
    align-self: flex-start;
    letter-spacing: .6px;    
    opacity: .95;
    margin-top: 5.5rem;
}

.partner-btn > svg {
    margin-left: 4rem;
}


@media only screen and (max-width: 840px) {
    .join-row {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .join-row {
        flex-direction: column;
    }

    .partner-btn {
        font-size: 2.6rem;
    }

    .partner-btn > svg {
        margin-left: 2.8rem;
    }
}


/* footer */

footer {
    background: #323c44;
    padding: 9rem 0;
}

.foot-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .nav-brand {
    color: #fff;
}

.foot-right {
    display: flex;
}

.foot-right h4 {
    font-family: "AcuminPro-Semibold";
    font-size: 1.7rem;
    width: 18rem;
    color: #fff;
    font-weight: 500;
}


footer hr {
    width: 100%;
    color: #fff;
    background: #fff;
    height: 1px;
    border: 0;
    margin-top: 2rem;
}

.icon-row img {
    margin-top: 8rem;
    width: 25px;
    height: auto;
    margin-right: 1.4rem;
}

.footer-text {
    color: #fff;
    font-family: "AcuminPro-ExtraLight";
    font-size: 1.6rem;
    font-weight: normal;
    opacity: .85;
    margin-top: 3rem;
    letter-spacing: .6px;
}

.foot-row {
    display: flex;
    justify-content: space-between;
}

.foot-row-right {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
}

.foot-right-col {
    display: flex;
    flex-direction: column;
    width: 18rem;
}

.foot-items {
    width: 100%;
    font-family: "AcuminPro-Light";
    font-size: 1.8rem;
    padding: .7rem 1.5rem .7rem 0;
    color: #ffffff99;
    font-weight: 400;
}

.with-icon svg {
    width: 22px;
    height: auto;
    margin-right: .5rem;
}

.with-icon {
    padding: .7rem 1.5rem .7rem 0;
}

@media only screen and (max-width: 880px) {
    .foot-right {
        display: none;
    }

    .foot-flex {
        justify-content: center;
    }

    .foot-row {
        flex-direction: column;
        align-items: center;
    }

    .icon-row {
        display: flex;
        justify-content: center;
    }

    .foot-row-right {
        width: 100%;
        justify-content: space-between;
        text-align: center;
        margin-top: 3rem;
    }

    .foot-right-col {
        width: 30%;
    }
}

@media only screen and (max-width: 880px) {
    .foot-row-right {
        flex-direction: column;
        align-items: center;
    }

    .foot-right-col {
        width: 100%;
        margin-bottom: 3.5rem;
    }
}