@font-face {
    font-family: "Judson-Bold";
    src: url(../../assets/fonts/Judson-Bold.ttf);
}

@font-face {
    font-family: "AcuminPro-Bold";
    src: url(../../assets/fonts/AcuminProBold.otf);
}

@font-face {
    font-family: "AcuminPro-ExtraLight";
    src: url(../../assets/fonts/AcuminProExtraLight.otf);
}

@font-face {
    font-family: "AcuminPro-Light";
    src: url(../../assets/fonts/AcuminProLight.otf);
}

@font-face {
    font-family: "AcuminPro-Medium";
    src: url(../../assets/fonts/AcuminProMedium.otf);
}

@font-face {
    font-family: "AcuminPro-Thin";
    src: url(../../assets/fonts/AcuminProThin.otf);
}

@font-face {
    font-family: "AcuminPro-Semibold";
    src: url(../../assets/fonts/AcuminProSemibold.otf);
}

@font-face {
    font-family: "AcuminPro-Black";
    src: url(../../assets/fonts/AcuminProBlack.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif; 
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
  font-size: 62.5%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

body {
    margin: 0; 
    font-family: "AcuminPro-Medium", serif;;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.6;
    color: black;
    text-align: left;
    background-color: #fff; 
}


hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
  }


a {
    color: inherit;
    text-decoration: none;
    background-color: transparent; 
}

button {
    border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; 
  padding: 0;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}


.container {
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
}


.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0 6rem;
}

.icon-parent {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.nav-brand {
    font-family: "AcuminPro-ExtraLight";
    font-size: 2.5rem;
    text-decoration: none;
    letter-spacing: 4px;
    margin-left: 4rem;
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-link {
    font-family: "AcuminPro-Semibold";
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    padding: 1.5rem 0;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-family: "AcuminPro-Semibold";
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    margin-right: 3.5rem;
    border-top: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar-dropdown {
    position: relative;
    margin-right: 3.5rem;
}

.navbar-dropdown-last {
    margin-right: 5rem;
}

.navbar-dropdown:hover > div.nav-dropdown-menu {
    display: flex;
}


.nav-dropdown-menu {
    display: none;
    border-top: 1px solid #000;
    background: #efefef;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    flex-direction: column;
    transition: all 2s ease-in;
    padding: .8rem 1.5rem;
}


.nav-dropdown-link {
    font-family: "AcuminPro-Medium";
    font-size: 1.6rem;
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: .8rem 0;
    letter-spacing: 1.5px;
}


.nav-btn {
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: transparent;
    font-family: "AcuminPro-Semibold";
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    background: transparent;
    letter-spacing: 1.8px;
}

.nav-btn-gray {
    background: #93a5bf;
    color: #fff;
    margin-left: 2rem;
    padding: .8rem 1.2rem;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}



/*  gradient */

.gradient {
    margin-top: 11rem;
    height: 48rem;
    width: 100%;
    background: linear-gradient(to left top, rgba(104,116,155, 0.5) 0%/*bottom-right color*/, rgba(104,116,155, 0.85) 50% /*middle color*/, rgb(104,116,155) 100% /*top-left color*/), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
    overflow: hidden;
    position: relative;;
}

.grad-flex {
    justify-content: flex-end;
}

.grad-flex::after {
    display: block;
    content: "";
    clear: both;
}

.grad-flex img {
    position: absolute;
    width: 55%;
    height: auto;
    display: block;
    top: 0;
    right: 0;
}

.grad-col {
    margin-top: 7rem;
} 

.contact-heading {
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 8rem;
    color: #fff;
    letter-spacing: 1px;
}

.contact-text {
    font-family: "AcuminPro-Light";
    font-weight: bold;
    font-size: 2.8rem;
    color: #fff;
    line-height: 1.2;
    margin-top: 2rem;
    font-weight: 400;
    letter-spacing: .5px;
}

@media only screen and (max-width: 1100px) {
    .grad-flex img {
        display: none;
    }

    .gradient {
        height: 38rem;
    }

    .grad-flex {
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {
    .contact-heading {
        font-size: 6.2rem;
    }
    
    .contact-text {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 450px) {
    .contact-heading {
        font-size: 4.5rem;
    }
    
    .contact-text {
        font-size: 2.3rem;
    }

    .gradient {
        height: 28rem;
    }
}



/* GEt started Section */

.started {
    width: 100%;
    background: #fff;
    color: black;
    padding: 5rem 0;
}

.started-heading {
    color: #0c1628;
    display: inline-block;
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 1.4;
}

.started-subheading {
    color: #0f192b;
    font-family: "AcuminPro-Medium";
    font-size: 2.5rem;
    font-weight: 500;
    display: inline-block;
}

.started-list-heading {
    color: #3a446a;
    font-family: "AcuminPro-Bold";
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    letter-spacing: 1.5px;
}

.started-list-paragraph {
    color: #000;
    font-family: "AcuminPro-Medium";
    font-weight: 500;
    font-size: 1.8rem;
    display: inline-block;
    opacity: 0.85;
    margin-top: 1rem;
}

.started-list-icon-container {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #3a446a;
    z-index: 55;
}


.started-list {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.started-list-column {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 1rem;
    width: 80%;
}

.started-flex {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
}

.started-hr {
    display: block;
    width: 1px;
    background: #3a446a;
    height: 77%;
    position: absolute;
    top: 0;
    left: 27px;
    z-index: 1;
}

.list-zindexed {
    z-index: 55;
    overflow: hidden;
    background: #fff;
}

.started-divider {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5rem 0;
}

.started-grow {
    width: 70%;
}

.img-resp {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.started-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: "AcuminPro-Bold";
    font-weight: bold;
    font-size: 2.4rem;
    color: #fff;
    background: #68749b;
    padding: 1.2rem 3.3rem;
    align-self: flex-start;
    letter-spacing: .5px;
    margin-top: 4rem;
    
}

.started-btn > svg {
    margin-left: 2rem;
}



@media only screen and (max-width: 925px) {
    .started-grow {
        display: none;
    }

    .started-hr {
        display: none;
    }

    .started-list {
        flex-direction: column;
        width: 100%;
    }

    .started-flex {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .started-list {
        width: 46%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 4.5rem;
    }
}

@media only screen and (max-width: 680px) {
    .started-list {
        flex-direction: column;
        width: 100%;
    }

    .started-flex {
        width: 100%;
        flex-direction: column;
    }

    .started-list {
        width: 100%;
    }

    .started-heading {
        font-size: 4.2rem;
    }
    
    .started-subheading {
        font-size: 2.4rem;
    }
}

/* stats section */

.stats {
    background: linear-gradient(to left top, rgba(104,116,155, 0.5) 0%/*bottom-right color*/, rgba(104,116,155, 0.85) 50% /*middle color*/, rgb(104,116,155) 100% /*top-left color*/), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
}

.stat-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
    text-align: center;
}

.stat-heading {
    font-family: "AcuminPro-ExtraLight";
    font-size: 5.4rem;
    color: #fff;
    font-weight: 400;
}

.stat-desc {
    font-family: "AcuminPro-ExtraLight";
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
}

@media only screen and (max-width: 840px) {
    .stats {
        background: #fff;
    }

    .stats * {
        color: #000 !important;
    }

    .stat-row {
        flex-direction: column;
        padding: 2.5rem 0;
    }
}




/* tech */

.tech {
    background: #f0f0f0;
    padding: 6rem 0;
}

.tech-heading {
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 6rem;
}

.tech-text {
    font-family: "AcuminPro-Medium";
    font-size: 2.7rem;
    font-weight: 500;
}

.tech-row {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    align-items: flex-start;
}

.tech-row-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 31.5%;
}

.tech-icon-cont {
    border: 1px solid #6a779b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
}

.tech-icon-cont img {
    display: block;
    width: 60px;
    height: auto;
}

.tech-innert-heading {
    font-family: "AcuminPro-ExtraLight";
    font-size: 3rem;
    font-weight: 400;
    color: #6a779b;
    margin: 2.3rem 0 1rem;
}

.tech-innert-text {
    font-family: "AcuminPro-Medium";
    font-size: 2rem;
    color: #000;

}


@media only screen and (max-width: 955px) {
    .tech-row {
        flex-direction: column;
        align-items: center;
    }

    .tech-row-item {
        width: 80%;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 450px) {
    .tech-row-item {
        width: 93%;
    }
}

@media only screen and (max-width: 480px) {
    .tech-heading {
        font-size: 4.5rem;
    }

    .tech-text {
        font-size: 2.4rem;
    }
}

/* stats section */

.stats {
    background: #3a446a;
}

.stat-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
    text-align: center;
}

.stat-heading {
    font-family: "AcuminPro-ExtraLight";
    font-size: 5.4rem;
    color: #fff;
    font-weight: 400;
}

.stat-desc {
    font-family: "AcuminPro-ExtraLight";
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
}

@media only screen and (max-width: 840px) {
    .stats {
        background: #fff;
    }

    .stats * {
        color: #000 !important;
    }

    .stat-row {
        flex-direction: column;
        padding: 2.5rem 0;
    }
}

/* mobile desc */

.mobile {
    background: #fff;
    width: 100%;
    padding: 8rem 0 0;
}

.mobile-flex {
    display: flex;
    justify-content: space-between;
}

.mobile-col {
    width: 40%;
}

.mobile-right {
    width: 58%;
}

.mobile-right img {
    width: 100%;
    height: auto;
    display: block;
}

.mobile-heading {
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 5.6rem;
    color: black;
    line-height: 1;
    margin-bottom: 8rem;
}

.mobile-desc {
    font-family: "AcuminPro-Medium";
    font-weight: 500;
    color: black;
    font-size: 2.2rem;
    margin-bottom: 4.2rem;
}

.mobile-img {
    display: flex;
    align-items: center;
}

.mobile-img > a {
    margin-right: 3rem;
}

.mobile-img img {
    border-radius: 6px;
}



@media only screen and (max-width: 1100px) {
    .mobile-flex {
        flex-direction: column;
        align-items: center;
    }

    .mobile-col {
        margin-bottom: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    .mobile-img {
        flex-direction: column;
    }

    .mobile-heading {
        font-size: 4.5rem;
    }
}

/* lear more */

.learn {
    background: #f0f0f0;
    padding: 6rem 0;
    position: relative;
    overflow: hidden;
}

.learn-heading {
    font-family: "AcuminPro-Light";
    font-size: 4.8rem;
    font-weight: 400;
    color: #68749b;
    letter-spacing: .7px;
    line-height: 1.15;
    margin-bottom: 4.5rem;
}

.learn-col img {
    position: absolute;
    width: 50%;
    height: auto;
    display: block;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 1400px) {
    .learn-col img {
        width: 65%;
    }
}

@media only screen and (max-width: 1200px) {
    .learn-col img {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .learn-col img {
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    .learn-heading {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 400px) {
    .learn-heading {
        font-size: 3.5rem;
    }
}

/* footer */

footer {
    background: #323c44;
    padding: 9rem 0;
}

.foot-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .nav-brand {
    color: #fff;
}

.foot-right {
    display: flex;
}

.foot-right h4 {
    font-family: "AcuminPro-Semibold";
    font-size: 1.7rem;
    width: 18rem;
    color: #fff;
    font-weight: 500;
}


footer hr {
    width: 100%;
    color: #fff;
    background: #fff;
    height: 1px;
    border: 0;
    margin-top: 2rem;
}

.icon-row img {
    margin-top: 8rem;
    width: 25px;
    height: auto;
    margin-right: 1.4rem;
}

.footer-text {
    color: #fff;
    font-family: "AcuminPro-ExtraLight";
    font-size: 1.6rem;
    font-weight: normal;
    opacity: .85;
    margin-top: 3rem;
    letter-spacing: .6px;
}

.foot-row {
    display: flex;
    justify-content: space-between;
}

.foot-row-right {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
}

.foot-right-col {
    display: flex;
    flex-direction: column;
    width: 18rem;
}

.foot-items {
    width: 100%;
    font-family: "AcuminPro-Light";
    font-size: 1.8rem;
    padding: .7rem 1.5rem .7rem 0;
    color: #ffffff99;
    font-weight: 400;
}

.with-icon svg {
    width: 22px;
    height: auto;
    margin-right: .5rem;
}

.with-icon {
    padding: .7rem 1.5rem .7rem 0;
}



@media only screen and (max-width: 880px) {
    .foot-right {
        display: none;
    }

    .foot-flex {
        justify-content: center;
    }

    .foot-row {
        flex-direction: column;
        align-items: center;
    }

    .icon-row {
        display: flex;
        justify-content: center;
    }

    .foot-row-right {
        width: 100%;
        justify-content: space-between;
        text-align: center;
        margin-top: 3rem;
    }

    .foot-right-col {
        width: 30%;
    }
}

@media only screen and (max-width: 880px) {
    .foot-row-right {
        flex-direction: column;
        align-items: center;
    }

    .foot-right-col {
        width: 100%;
        margin-bottom: 3.5rem;
    }
}