@font-face {
    font-family: "Judson-Bold";
    src: url(./assets/fonts/Judson-Bold.ttf);
}

@font-face {
    font-family: "AcuminPro-Bold";
    src: url(./assets/fonts/AcuminProBold.otf);
}

@font-face {
    font-family: "AcuminPro-ExtraLight";
    src: url(./assets/fonts/AcuminProExtraLight.otf);
}

@font-face {
    font-family: "AcuminPro-Light";
    src: url(./assets/fonts/AcuminProLight.otf);
}

@font-face {
    font-family: "AcuminPro-Medium";
    src: url(./assets/fonts/AcuminProMedium.otf);
}

@font-face {
    font-family: "AcuminPro-Thin";
    src: url(./assets/fonts/AcuminProThin.otf);
}

@font-face {
    font-family: "AcuminPro-Semibold";
    src: url(./assets/fonts/AcuminProSemibold.otf);
}

@font-face {
    font-family: "AcuminPro-Black";
    src: url(./assets/fonts/AcuminProBlack.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif; 
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
  font-size: 62.5%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

body {
    margin: 0; 
    font-family: "AcuminPro-Medium", serif;;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.6;
    color: black;
    text-align: left;
    background-color: #fff; 
}


hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
  }


a {
    color: inherit;
    text-decoration: none;
    background-color: transparent; 
}

button {
    border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; 
  padding: 0;
}

video {
    outline: 0 !important;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}


.container {
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
}


.fullscreen-bg {
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#main-video {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 65%;
    width: 65%;
    display: block;
    max-width: 1024px;
    max-height: 634px;
    border: 0;
}

#main-video-two {
    display: none;
    border: 0;
    display: none;
    width: 100%;
    height: auto;
}



.border-lines {
    display: block;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.abs-line-img {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('./assets/svg/lines.svg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
}

.main-header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-parent {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.nav-brand {
    font-family: "AcuminPro-ExtraLight";
    font-size: 2.5rem;
    text-decoration: none;
    letter-spacing: 4px;
    margin-left: 4rem;
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-link {
    font-family: "AcuminPro-Semibold";
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    padding: 1.5rem 0;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-family: "AcuminPro-Semibold";
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    margin-right: 3.5rem;
    border-top: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar-dropdown {
    position: relative;
    margin-right: 3.5rem;
}

.navbar-dropdown-last {
    margin-right: 5rem;
}

.navbar-dropdown:hover > div.nav-dropdown-menu {
    display: flex;
}


.nav-dropdown-menu {
    display: none;
    border-top: 1px solid #000;
    background: #efefef;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    flex-direction: column;
    transition: all 2s ease-in;
    padding: .8rem 1.5rem;
}


.nav-dropdown-link {
    font-family: "AcuminPro-Medium";
    font-size: 1.6rem;
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: .8rem 0;
    letter-spacing: 1.5px;
}


.nav-btn {
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: transparent;
    font-family: "AcuminPro-Semibold";
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    background: transparent;
    letter-spacing: 1.8px;
}

.nav-btn-gray {
    background: #93a5bf;
    color: #fff;
    margin-left: 2rem;
    padding: .8rem 1.2rem;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.menu-burger {
    display: none;
}

.menu-burger img {
    width: 26px;
    height: 26px;
    cursor: pointer;
}




.show-menu {
    display: none;
    background: linear-gradient(to left top, rgba(104,116,155, 0.5) 0%/*bottom-right color*/, rgba(104,116,155, 0.85) 50% /*middle color*/, rgb(104,116,155) 100% /*top-left color*/), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    z-index: 9999999;
    color: #fff;
    font-size: 2rem;
    font-family: "AcuminPro-Light";
    font-weight: 400;
    text-align: left;
    overflow-y: auto;
}

    
.show-menu::-webkit-scrollbar {
    width: 8px;
}

.show-menu::-webkit-scrollbar-track {
    background: rgb(185, 181, 181); 
}

.show-menu::-webkit-scrollbar-thumb {
    background: rgb(104,116,155);
    border-radius: 5px;
}
.show-menu::-webkit-scrollbar-thumb:hover {
    background: rgb(104,116,155);
}



.mini-link {
    font-family: "AcuminPro-Semibold";
}

.mini-icons {
    margin-right: 15px;
}

.bttm {
    margin: .4rem 0;
}

.mini-hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.mini-dark {
    display: block;
    padding: .5rem 0;
    background: #3a446a;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
}

.mini-icon-item {
    margin: .7rem 0;
}

.mini-light {
    display: block;
    padding: .5rem 0;
    background: #fff;
    color: black;
    text-align: center;
    margin-bottom: 1.5rem;
}

.mini-title {
    margin-bottom: .8rem;
}

.mini-brand {
    letter-spacing: 1.5px;
}

.mini-container {
    width: 100%;
    min-width: 340px;
    max-width: 550px;
    padding: 15px 20px;
    margin: 0 auto;
}

.mini-col {
    display: flex;
    flex-direction: column;
}

.justified img {
    margin-right: 10px;
}

.justified {
    justify-content: space-between;
    margin: 2rem 0;
}

.mini-row {
    display: flex;
    align-items: center
}

.hide-menu {
    display: none !important;
}

@media only screen and (max-width: 520px) {
    .main-nav .nav-brand {
        font-size: 2.2rem;
        margin-left: 12px;
        letter-spacing: .7px
    }


}


@media only screen and (max-width: 1100px) {
    .show-menu  {
        display: block;
    }

    .menu-burger  {
        display: block;
    }

    .nav-right {
        display: none;
    } 

}

.heading-column {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.header-heading {
    color: #3a446a;
    font-family: "Judson-Bold";
    font-size: 6rem;
    font-weight: bold;
    display: inline-block;
    user-select: none;
    line-height: 1;
    letter-spacing: 1.2px;

}

.header-subheading {
    color: #000;
    display: inline-block;
    user-select: none;
    font-family: "AcuminPro-Light";
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .4px;
    margin-top: 4.5rem;
}

.relative {
    position: relative;
}

.abs-a {
    position: absolute;
    top:0;
    left: 54%;
    display: none;
    z-index: 99;
}

.main-nav,
.main-nav * {
    z-index: 999 !important;
}

.main-nav {
    background: transparent;
}

@media only screen and (max-width: 1100px) {
    #main-video {
       display: none;
    }

    #main-video-two {
        display: block;
        margin-top: 2.3rem;
        z-index: 22 !important;
     }

    .main-header {
        position: relative;
    }

    .fullscreen-bg {
        min-width: unset;
        min-height: unset;
    }

    .abs-line-img {
        z-index: 55;
    }


    .abs-a {
        display: block !important;
    }

    .abs-a img {
        width: 220px;
        height: 220px;
    }

}

@media only screen and (max-width: 900px) { 
    .abs-a img {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 700px) { 
    .abs-a img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 550px) { 
    .abs-a img {
        width: 133px;
        height: 133px;
    }
}

@media only screen and (max-width: 450px) { 
    .abs-a img {
        width: 125px;
        height: 125px;
    }
}

@media only screen and (max-width: 550px) {
    .header-heading {
        font-size: 4.2rem;
    }


    .heading-column {
        margin-top: 4rem;
        padding-left: 7rem;
        padding-right: 4.5rem;
    }

    .header-heading {
        font-size: 2.75rem;
    }

    .header-subheading {
        font-size: 1.6rem;
    }
}



@media only screen and (max-width: 400px) {
    .header-subheading {
        font-size: 1.6rem;
    }
}


/* SECTION GREEN MOBILE APP ICONS */

.green-fluid {
    width: 100%;
    background-color: #50bf97;
    display: flex;
    align-items: center;
}

.green-flex {
    display: flex;
    align-items: flex-start;
    padding: 3.2rem 2.3rem;
    width: 100%;
}



.green-flex img {
    border-radius: 8px;
}

.green-flex img:first-child {
    margin-right: 3rem;
}

.green-paragraph {
    font-family: "AcuminPro-Semibold";
    color: #fff;
    font-weight: 500;
    margin-left: 5rem;
    line-height: 1.5;
    font-size: 2rem;
    letter-spacing: 1.2px;
}

@media only screen and (max-width: 850px) {
    .green-flex {
        flex-direction: column;
        align-items: center;
    }

    .green-flex img {
        margin-bottom: 2rem;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 780px) {
    .green-fluid {
        display: none;
    }
}

/* Pionner section */

.pioneer {
    width: 100%;
    background: #2f3864;
    padding: 5rem 0;
}

.pioneer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pioneer-flex video {
    width: 52%;
    height: 52%;
}

.pioneer-col {
    display: flex;
    flex-direction: column;
}

.pioneer-heading {
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 6rem;
    display: inline-block;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 10rem;
}

.pioneer-link-container {
    display: flex;
    align-items: center;
}

.pioneer-link-container svg {
    width: 28px;
    height: auto;
}

.pioneer-link {
    display: inline-block;
    font-family: "AcuminPro-Light";
    font-size: 2.8rem;
    color: #fff;
    border-bottom: 1px solid transparent;
    letter-spacing: 1.8px;
    margin-bottom: .8rem;
}


@media only screen and (max-width: 950px) {
    .pioneer-flex {
        flex-direction: column;
        align-items: center;
    }

    .pioneer-col {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 550px) {
    .pioneer-heading {
        font-size: 4.5rem;
    }

    .pioneer-link {
        font-size: 2rem;
    }

    .pioneer-link-container svg {
        width: 15px;
        height: auto;
    }

}

@media only screen and (max-width: 400px) {
    .pioneer-heading {
        font-size: 4.5rem;
    }

    .pioneer-link {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 780px) {
    .pioneer-flex video {
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .pioneer-col {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .pioneer-heading {
        font-size: 3.5rem;
        margin-bottom: 4.5rem;
    }

    .pioneer-link {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 408px) {
    .pioneer-col {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .pioneer-heading {
        font-size: 3rem;
    }

    .pioneer-link {
        font-size: 1.2rem;
    }
}



/* GEt started Section */

.started {
    width: 100%;
    background: #fff;
    color: black;
    padding: 5rem 0;
}

.started-heading {
    color: #0c1628;
    display: inline-block;
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 1.4;
}

.started-subheading {
    color: #0f192b;
    font-family: "AcuminPro-Medium";
    font-size: 2.5rem;
    font-weight: 500;
    display: inline-block;
}

.started-list-heading {
    color: #3a446a;
    font-family: "AcuminPro-Bold";
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    letter-spacing: 1.5px;
}

.started-list-paragraph {
    color: #000;
    font-family: "AcuminPro-Medium";
    font-weight: 500;
    font-size: 1.8rem;
    display: inline-block;
    opacity: 0.85;
    margin-top: 1rem;
}

.started-list-icon-container {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #3a446a;
    z-index: 55;
}


.started-list {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.started-list-column {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 1rem;
    width: 80%;
}

.started-flex {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
}

.started-hr {
    display: block;
    width: 1px;
    background: #3a446a;
    height: 77%;
    position: absolute;
    top: 0;
    left: 27px;
    z-index: 1;
}

.list-zindexed {
    z-index: 55;
    overflow: hidden;
    background: #fff;
}

.started-divider {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5rem 0;
}

.started-grow {
    width: 70%;
}

.img-resp {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.started-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: "AcuminPro-Bold";
    font-weight: bold;
    font-size: 2.4rem;
    color: #fff;
    background: #68749b;
    padding: 1.2rem 3.3rem;
    align-self: flex-start;
    letter-spacing: .5px;
    margin-top: 4rem;
    
}

.started-btn > svg {
    margin-left: 2rem;
}


@media only screen and (max-width: 925px) {
    .started-divider {
        flex-direction: column-reverse;
    }

    .started-grow {
        margin-bottom: 4rem;
        width: 80%;
    }

    .started-hr {
        display: none;
    }

    .started-list {
        flex-direction: column;
        width: 100%;
    }

    .started-flex {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .started-list {
        width: 46%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 4.5rem;
    }

    .started-list-column {
        margin-left: unset;
    }
}

@media only screen and (max-width: 680px) {
    .started-list {
        flex-direction: column;
        width: 100%;
    }

    .started-flex {
        width: 100%;
        flex-direction: column;
    }

    .started-list {
        width: 100%;
    }

    .started-heading {
        font-size: 4.2rem;
    }
    
    .started-subheading {
        font-size: 2.4rem;
    }

    .started {
        padding-bottom: unset;
    }

    .started-divider {
        padding-bottom: 2rem;
    }

    .started-list-icon-container {
        border: 0;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(104,116,155,0.75);
          -moz-box-shadow: 0px 0px 5px 1px rgba(104,116,155,0.75);
          box-shadow: 0px 0px 5px 1px rgba(104,116,155,0.75);
    }

    .list-zindexed {
        overflow: unset;
    }
}

@media only screen and (max-width: 650px) {
  .started .started-subheading {
      display: none;
  }

  .started .started-heading {
      padding-left: 15%;
      padding-right: 15%;
      text-align: left;
  }

  .started-btn {
      display: none;
  }

}


@media only screen and (max-width: 500px) {
    .started .started-heading {
        font-size: 3.8rem;
    }

    .started .started-list-heading {
        font-size: 1.8rem;
    }

    .started .started-list-paragraph {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 420px) {
    .started .started-heading {
        font-size: 3.3rem;
    }

    .started .started-list-heading {
        font-size: 1.6rem;
    }

    .started .started-list-paragraph {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 370px) {
    .started .started-heading {
        font-size: 3rem;
    }
}

/* stats section */

.stats {
    background: linear-gradient(to left top, rgba(104,116,155, 0.5) 0%/*bottom-right color*/, rgba(104,116,155, 0.85) 50% /*middle color*/, rgb(104,116,155) 100% /*top-left color*/), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
}

.stat-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
    text-align: center;
}

.stat-heading {
    font-family: "AcuminPro-ExtraLight";
    font-size: 5.4rem;
    color: #fff;
    font-weight: 400;
}

.stat-desc {
    font-family: "AcuminPro-ExtraLight";
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
}

@media only screen and (max-width: 840px) {

    .stat-row {
        flex-direction: column;
        padding: 2.5rem 0;
    }

    .stat-col {
        margin: 3.2rem 0;
    }
}


/* logos */

.logo-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8rem 0 6rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
    width: 38%;
}

.logo-heading {
    font-family: "Judson-Bold";
    font-size: 5.2rem;
    margin-bottom: 4.5rem;
    line-height: 1;
    font-weight: bold;
}

.logo-link {
    display: inline-block;
    font-family: "AcuminPro-Light";
    font-size: 2.8rem;
    color: black;
    border-bottom: 1px solid transparent;
    letter-spacing: 1.8px;
}

.logo-link svg {
    margin-left: 1rem;
}

.logo-container {
    width: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo-item {
    width: 29.5%;
    display: block;
    height: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    filter: saturate(0);
}

.no-auto {
    margin-left: 1.5rem;
}

.logo-item img {
    width: 100%;
    height: auto;
}

.last-logo img{
    display: block;
    height: 72px;
    width: auto;
    margin: 0 auto;
}

.logo-item:hover {
    filter: none;
}

.img-sized {
    height: 80px;
    width: auto;
}


@media only screen and (max-width: 925px) {
    .logo-flex {
        flex-direction: column;
        align-items: center;
    }

    .logo-col {
        width: 100%;
        margin-bottom: 4.2rem;
    }

    .logo-container {
        width: 100%;
    }
}

@media only screen and (max-width: 682px) {
    .logo-item {
        width: 44%;
    }

    .logo-flex {
        padding: 4.5rem 0;
    }


}

@media only screen and (max-width: 500px) {
    .logo-item {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    .logo-heading {
        font-size: 4rem;
    }

    .logo-link {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 780px) {
   .logos {
        display: none !important;
   } 
}

/* mobile desc */

.mobile {
    background: #f1f1f1;
    width: 100%;
    padding: 8rem 0 0;
}

.mobile-flex {
    display: flex;
    justify-content: space-between;
}

.mobile-col {
    width: 40%;
}

.mobile-right {
    width: 58%;
}

.mobile-right img {
    width: 100%;
    height: auto;
    display: block;
}

.mobile-heading {
    font-family: "Judson-Bold";
    font-weight: bold;
    font-size: 5.6rem;
    color: black;
    line-height: 1;
    margin-bottom: 8rem;
}

.mobile-desc {
    font-family: "AcuminPro-Medium";
    font-weight: 500;
    color: black;
    font-size: 2.2rem;
    margin-bottom: 4.2rem;
}

.mobile-img {
    display: flex;
    align-items: center;
}

.mobile-img > a {
    margin-right: 3rem;
}

.mobile-img img {
    border-radius: 6px;
}

.mini-mobile-apps {
    display: none;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 1100px) {
    .mobile-flex {
        flex-direction: column;
        align-items: center;
    }

    .mobile-col {
        margin-bottom: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    .mobile-img {
        justify-content: space-between;
    }

    .mobile-img > a {
        margin-right: 0;
        width: 47%;
    }

    .mobile-img > a > img {
        width: 100%;
        display: block;
        height: auto;
    }

    .mobile-heading {
        font-size: 4.5rem;
    }

    .mobile {
        padding: 4rem 0 0;
    }

    .mobile-right {
        width: 100%;
    }

    .mobile-heading {
        margin-bottom: 3.5rem;
    }


}

@media only screen and (max-width: 780px) {
    .mobile {
        display: none !important;
    }

    .started .started-btn {
        display: none !important;
    }

    .subscribe .started-btn {
        display: flex !important;
    }

    .mini-mobile-apps {
        display: flex;
        justify-content: center;
    }
    
    .subscribe-heading {
        margin-bottom: 4rem !important;
    }

    .input-group input {
        width: 100% !important;
    }
 }

 @media only screen and (max-width: 510px) {
    .mini-mobile-apps {
        justify-content: space-between;
        display: flex;
    }
 }

/* subscribe */

.subscribe {
    background: #3a446a;
    width: 100%;
    padding: 8rem 0;
}

.subscribe-heading {
    color: #ffffff60;
    font-size: 4.5rem;
    font-family: "AcuminPro-Light";
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 7rem;
    letter-spacing: .8px;
}

.sub-highlight {
    color: #fff;
}

.subscribe-subheading {
    font-family: "AcuminPro-Semibold";
    font-size: 3rem;
    color: #fff;
}

.subscribe .started-btn {
    margin: 0;
}

.input-group {
    display: flex;
    margin-top: 3rem;
}

.input-group  input {
    width: 50%;
    padding: 1rem 1.5rem;
    margin-right: 3rem;
    background: #d9dbe1;
    border: 0;
}

@media only screen and (max-width: 650px) {
    .subscribe-heading {
        font-size: 3.5rem;
    }

    .subscribe-subheading {
        font-size: 2.5rem;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group  input {
        width: 80%;
        padding: 1.4rem 1.7rem;
        margin-bottom: 2rem;
    }
}

/*
@media only screen and (max-width: 780px) {
    .subscribe {
        display: none;
    }

}*/

@media only screen and (max-width: 400px) {
    footer .nav-brand {
        font-size: 2.3rem;
    }

    .icon-row {
        width: 80%;
        max-width: 350px;
    }
}

/* footer */

footer {
    background: #323c44;
    padding: 9rem 0;
}

.foot-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .nav-brand {
    color: #fff;
}

.foot-right {
    display: flex;
}

.foot-right h4,
.foot-right-col h4 {
    font-family: "AcuminPro-Semibold";
    font-size: 1.7rem;
    width: 18rem;
    color: #fff;
    font-weight: 500;
}

.foot-right-col h4 {
    display: none;
}


footer hr {
    width: 100%;
    color: #fff;
    background: #fff;
    height: 1px;
    border: 0;
    margin-top: 2rem;
}

.icon-row img {
    margin-top: 8rem;
    width: 25px;
    height: auto;
    margin-right: 1.4rem;
}

.footer-text {
    color: #fff;
    font-family: "AcuminPro-ExtraLight";
    font-size: 1.6rem;
    font-weight: normal;
    opacity: .85;
    margin-top: 3rem;
    letter-spacing: .6px;
}

.foot-row {
    display: flex;
    justify-content: space-between;
}

.foot-row-right {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
}

.foot-right-col {
    display: flex;
    flex-direction: column;
    width: 18rem;
}

.foot-items {
    width: 100%;
    font-family: "AcuminPro-Light";
    font-size: 1.8rem;
    padding: .7rem 1.5rem .7rem 0;
    color: #ffffff99;
    font-weight: 400;
}

.with-icon svg {
    width: 22px;
    height: auto;
    margin-right: .5rem;
}

.with-icon {
    padding: .7rem 1.5rem .7rem 0;
}

@media only screen and (max-width: 880px) {
    .foot-right {
        display: none;
    }

    .foot-flex {
        justify-content: center;
    }

    .foot-row {
        flex-direction: column;
        align-items: center;
    }

    .icon-row {
        display: flex;
        justify-content: center;
    }

    .foot-row-right {
        width: 100%;
        justify-content: space-between;
        text-align: center;
        margin-top: 3rem;
    }

    .foot-right-col {
        width: 30%;
    }
}

@media only screen and (max-width: 880px) {
    .foot-row-right {
        flex-direction: column;
        align-items: center;
        padding-bottom: 4.5rem;
    }

    .foot-right-col {
        width: 100%;
        margin-bottom: 3.5rem;
    }

    footer .nav-left {
        flex-direction: column;
    }

    footer .nav-left svg {
        margin-bottom: 2rem;
    }

    footer .nav-left a {
        margin: 0;
    }

    footer .container {
        position: relative;
    }

    .icon-row {
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 350px;
        justify-content: space-between;
    }

    .icon-row > a > img {
        margin-top: 0 !important;
        width: 35px;
        height: auto;
    }

    .foot-flex {
        padding-top: 10rem;
    }

    .footer-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); 
        width: 100%;
        text-align: center;
    }

    .foot-right-col h4 {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    footer .nav-brand {
        font-size: 2.3rem;
    }

    .icon-row {
        width: 80%;
        max-width: 350px;
    }
}


@media only screen and (max-width: 540px) {
   .d-none-xs {
        display: none;
    } 
}

.d-only-xs {
    display: none;
}

@media only screen and (max-width: 540px) {
   .d-only-xs {
        display: initial;
    } 
}





@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade {
    animation: fadeLeft .8s ease-in-out;
}
